<!DOCTYPE html>    
<html>    
<head>    
    <title>Signup Form</title>    
    <link rel="stylesheet" href="/stylesheets/main.css" />    
</head>    
<body> 
<div class="login">  
    <h2>Sign Up</h2>
<form action="/signup" method="post">
    <label>Username</label>
    <input type="text" name="username">
    <br><br>
    <label>Password</label>
    <input type="password" name="password">
    <br><br>
    <input class="BUTTON" type="submit" value="Sign up">
    <br>
    <%if flash[:message] %>
    <h2><%= flash[:message] %></h2>
    <% end %>
</form>
</div>
</body>
</html>