<!DOCTYPE html>    
<html>    
<head>    
    <link rel="stylesheet" href="/stylesheets/main.css" /> 
</head>    
<body>  
<div class="login"> 

<h1>Posts</h1>
<h2> Tap on a post to view more! </h2>
<a href="/posts/new" class="BUTTON">Create a post</a><br><br>
<% @posts.each do |post| %>
    <h2><a href="/posts/<%= post.id %>" class="BUTTON2"><%= post.title %></a></h2><br>
    <img src="<%= post.image %>"><br><br>
    <% if current_user == post.user %>
    <a href="/posts/<%= post.id %>/edit" class="BUTTON">Edit</a>
    <% end %>
<% end %>
</div>
<div id = "footer" >
</body>
</html>
