<h1>Create Post</h1>

    <form action="/posts" method="post">
    <label>Title</label>
    <input type="text" name="title">
    <label>Post</label>
    <textarea name="method"> </textarea>
    <label>Image URL</label>
    <input type="text" name="image">
    <button type="submit">Create Post</button>
    <p><%= @error %></p>
</form>