<!DOCTYPE html>    
<html>    
<head>    
    <link rel="stylesheet" href="/stylesheets/main.css" /> 
</head>    
<body>


<div class="login"> 
<div class="app-text"> 
<h1>Create Post</h1><hr>
    <form action="/posts" method="post">
    <label>Title</label>
    <input type="text" name="title">
    <label>Post</label>
    <textarea name="method"> </textarea>
    <label>Image URL</label>
    <input type="text" name="image"><br><br><br>
    <button type="submit" class="BUTTON"> Submit</button>
    <p><%= @error %></p>
</form>
</div>
</body>
</html>