<div class ="banner">
    <div class="app-text">
        <h1> Welcome to Plant Up!</h1>
        <p>Plant up is a blogging site created to post about something special.... PLANTS!<br>
        Log in or Sign up to get started!</p>
    </div>
    <div class="app-picture">
    <img src="https://media.istockphoto.com/vectors/set-of-watercolor-succulents-with-a-top-view-on-a-white-background-vector-id947870086?k=6&m=947870086&s=612x612&w=0&h=SUIWgIh9C1KS2SORVKHYFX-ZXufd521GJD4pbTEzEQU=">
</div>